<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="none">
        <ion-icon slot="end" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ALERTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <iframe src="https://calendar.google.com/calendar/embed?src=jaelenharrell%40empyrealx.com&ctz=America%2FLos_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="yes"></iframe>
  <ion-button color="primary" fill="solid" shape="round" id="open-modal" expand="block" style="width: 100%;">View as list<ion-icon slot="end" name="list"></ion-icon></ion-button>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Events</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-list-header>
            <ion-label><h1><strong>February</strong></h1></ion-label>
          </ion-list-header>
          <ion-item detail="true">
            <ion-label>
              <p>Northwestern University</p>
              <h3><strong>Guided Campus Tour</strong></h3>
              Join us on February 6th for our next Open...
              <p><strong>Monday, February 3, 2024 | 1:30pm - 3:30pm</strong></p>
            </ion-label>
            <ion-note slot="end">1:30pm CT</ion-note>
          </ion-item>
          <ion-item detail="true">
            <ion-label>
              <p>Stanford University</p>
              <h3><strong>Ice Skating at the New Robert Crown...</strong></h3>
              Students, faculty and staff have access to the rinks and free skate rental...
              <p><strong>Wednesday, February 14, 2024 | 3:00pm - 4:30pm</strong></p>
            </ion-label>
            <ion-note slot="end">3pm PST</ion-note>
          </ion-item>
          <ion-item detail="true">
            <ion-label>
              <p>Purdue University</p>
              <h3><strong>Background Echoes: Mexicanness and the Production of Race in Hollywood</strong></h3>
              <ion-label class="ion-text-nowrap">This dynamic lecture-screening interweaves a selection of eleven 35mm trailers from the Academy Film Archive with an insightful presentation by Laura Isabel Serna, Associate Professor in the Van Hunnick History Department and the Division of Cinema and Media Studies at the University of Southern California.</ion-label>
              <p><strong>Thursday, February 23, 2024 | 11:30am - 1:30pm</strong></p>
            </ion-label>
            <ion-note slot="end">11:30am EST</ion-note>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <ion-label><h1><strong>March</strong></h1></ion-label>
          </ion-list-header>
          <ion-item detail="true">
            <ion-label>
              <p>Stanford University</p>
              <h3><strong>Guided Campus Tour</strong></h3>
              Join us on February 6th for our next Open...
              <p><strong>Saturday, March 17, 2024 | 7:30pm - 8:30pm</strong></p>
            </ion-label>
            <ion-note slot="end">7:30pm PST</ion-note>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <ion-label><h1><strong>April</strong></h1></ion-label>
          </ion-list-header>
          <ion-item detail="true">
            <ion-label>
              <p>Purdue University</p>
              <h3><strong>Guided Campus Tour</strong></h3>
              Join us on February 6th for our next Open...
              <p><strong>Friday, April 23, 2024 | 12:30pm - 2:30pm</strong></p>
            </ion-label>
            <ion-note slot="end">12:30pm EST</ion-note>
          </ion-item>
          <ion-item detail="true">
            <ion-label>
              <p>Northwestern University</p>
              <h3><strong>Art Talks! Dissident Sisters: Bev Grant and Feminist Activism, 1968–72</strong></h3>
              <ion-label class="ion-text-nowrap">Block Museum Student Associates (BMSAs) are Northwestern undergraduates representing interdisciplinary fields of study from across the university.</ion-label>
              <p><strong>Tuesday, April 3, 2024 | 1:30pm - 3:30pm</strong></p>
            </ion-label>
            <ion-note slot="end">1:30pm CT</ion-note>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>