<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Parent Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="banner-toolbar" style="max-height:100px!important;">
    <div class="profile-image-container">
      <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/catherine-pope.png" class="profile-image" alt="Profile Image">
    </div>
    <h1 style="font-style: italic;"><strong>Catherine Pope</strong></h1>
    <h4 style="font-style: italic;"><strong>Parent of student at Walter Payton Payton College Prep</strong>
      <!--<ion-button class="profile-button" fill="clear" size="large" [routerLink]="['/school-profile']" routerDirection="forward">Northwestern University</ion-button>--> 
    </h4>
    <p>Chicago, IL</p>
  </div>

  <!--<hr style="border: 1px;background-color: black;">-->

  <ion-card class="layout" style="box-shadow: 0 14px 1px #0003, 0 -10px 1px #0003 !important;">
    <ion-card-header>
      <ion-card-title style="font-style: italic;">
        <h3><strong>BIOGRAPHY</strong></h3>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      I am a dedicated professional at Northern Trust Bank with a passion for supporting my community and fostering growth in those around me. With years of experience in finance, I understand the importance of financial literacy and empowerment, which I strive to promote through my work. I’m committed to helping my daughter Jessica achieve her dreams of attending college and making a difference. In my free time, I enjoy volunteering and supporting educational initiatives that open doors for future generations. I believe in the value of hard work, education, and community, and I’m proud to be part of my daughter’s journey toward a brighter future
    </ion-card-content>
  </ion-card>

  <ion-card class="layout">
    <ion-card-header>
      <ion-card-title style="font-style: italic;">
        <h3><strong>MY STUDENTS</strong></h3>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="scroll-container">

      <div class="scroll-item">
        <ion-card style="box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2)!important;">
          <ion-card-content>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/jessica-pope.png" style="background-color: white;"/>
          </ion-card-content>
          <p style="font-size: 17px;color: black;">Jessica Pope</p>
          <p><i>Sophomore </i>at <b>Walter Payton College Prep</b></p>

        </ion-card>
      </div>

      <div class="scroll-item">
        <ion-card style="box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2)!important;">
          <ion-card-content>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/student-2.png" style="background-color: white;"/>
          </ion-card-content>
          <p style="font-size: 17px;color: black;">Student 2</p>
          <p><i>Senior </i>at <b>College Prep</b></p>

        </ion-card>
      </div>

      <div class="scroll-item">
        <ion-card style="box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2)!important;">
          <ion-card-content>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/student-3.png" style="background-color: white;"/>
          </ion-card-content>
          <p style="font-size: 17px;color: black;">Student 3</p>
          <p><i>Freshman </i>at <b>College Prep</b></p>

        </ion-card>
      </div>


    </ion-card-content>
  </ion-card>

  <ion-card class="layout" style="padding-bottom:100px;">
    <ion-card-header>
      <ion-card-title style="font-style: italic;">
        <h3><strong>MY SCHOOL AFFILIATIONS</strong></h3>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list class="school-affiliation">
        <ion-item class="school-item" button detail="true" routerLink="/school-profile" routerDirection="forward">
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://www.northwestern.edu/brand/images/wordmark/guideline-sm4.gif"/>
          </ion-thumbnail>
          <ion-badge slot="end">Alumni</ion-badge>
          <ion-label style="margin-left: 8px;">Northwestern University</ion-label>
        </ion-item>
        <ion-item button detail="true">
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://identity.stanford.edu/wp-content/uploads/sites/3/2020/07/block-s-right.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 8px;">Stanford University</ion-label>
        </ion-item>
        <ion-item button detail="true">
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://asset.brandfetch.io/idcXdgjqLS/idI_JXDYNm.jpeg"/>
          </ion-thumbnail>
          <ion-badge slot="end">Alumni</ion-badge>
          <ion-label style="margin-left: 8px;">Purdue University</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="custom-tabs">
    <ion-button [routerLink]="['/tabs/tab1']">
      <div class="button-content">
        <ion-icon name="home"></ion-icon>
        <span>Home</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2']">
      <div class="button-content">
        <ion-icon name="school"></ion-icon>
        <span>Schools</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab3']">
      <div class="button-content">
        <ion-icon name="menu"></ion-icon>
        <span>Menu</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab4']">
      <div class="button-content">
        <ion-icon name="people"></ion-icon>
        <span>Groups</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab5']">
      <div class="button-content">
        <ion-icon name="notifications"></ion-icon>
        <span>Alerts</span>
      </div>
    </ion-button>
  </div>
</ion-content>
