.banner-toolbar {
  background: url(https://i.ibb.co/qsknn8k/profile-heading.jpg) no-repeat fixed center / cover; 
  margin-bottom: 245px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-image-container {
  margin-left: 16px;
}

.profile-image {
  width: 100px; /* Adjust size as needed */
  height: 100px;
  border-radius: 0px 20px;
  border: 3px solid white; /* Optional: border to highlight the profile image */
  margin-top: 50px; /* Adjust based on your toolbar height */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

ion-title {
    text-align: center;
}

ion-card.layout {
  width: 100%; /* Ensure the card spans full width */
  margin-left: 0;
  margin-right: 0;
  }

.center-content {
    text-align: left;
}
  
.center-content h4 {
    display: inline-flex;
    align-items: center;
    margin: auto;
}

ion-button.profile-button {
    text-transform: none;
    --padding-start: 4px;
}

ion-card-content.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  ion-card-content.scroll-container .scroll-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: white;
    max-width: 275px;
    text-wrap: auto;    
  }
  
  ion-card-content.scroll-container img {
    display: block;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    object-fit: cover;
  }

//ion-list.school-affiliation, ion-item.school-item {
  //  background-color: white!important;
//}

.custom-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 0 10px;
  z-index: 1000; /* Ensure it's above other content */
  --ion-background-color: #fff; /* Optional: Override default background color */
}

.custom-tabs ion-button {
  --padding-start: 0;
  --padding-end: 0;
  --border: none;
  --background: none;
  color: #4e0eff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  --box-shadow: none; /* Remove the shadow */

}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-tabs ion-button ion-icon {
  font-size: 20px;
  display: block;

}

.custom-tabs ion-button span {
  display: block;
  font-size: 10px;
  margin-top: 4px; /* Adjust as needed */
  text-align: center; /* Center text horizontally */
  text-transform: none;
}