.banner-toolbar {
    background: url(https://i.ibb.co/qsknn8k/profile-heading.jpg) no-repeat fixed center / cover; 
    margin-bottom: 325px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .profile-image-container {
    margin-left: 16px;
  }
  
  .profile-image {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    border-radius: 10px 40px;
    border: 3px solid white; /* Optional: border to highlight the profile image */
    margin-top: 50px; /* Adjust based on your toolbar height */
    object-fit: cover;
  }
  
  ion-title {
      text-align: center;
  }

  ion-card {
    width: 100%; /* Ensure the card spans full width */
    margin-left: 0;
    margin-right: 0;
  }

  .custom-tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 0 10px;
    z-index: 1000; /* Ensure it's above other content */
    --ion-background-color: #fff; /* Optional: Override default background color */
  }
  
  .custom-tabs ion-button {
    --padding-start: 0;
    --padding-end: 0;
    --border: none;
    --background: none;
    color: #4e0eff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    --box-shadow: none; /* Remove the shadow */
  
  }
  
  .button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-tabs ion-button ion-icon {
    font-size: 20px;
    display: block;
  
  }
  
  .custom-tabs ion-button span {
    display: block;
    font-size: 10px;
    margin-top: 4px; /* Adjust as needed */
    text-align: center; /* Center text horizontally */
    text-transform: none;
  }

  .social-button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adjust the gap as needed */
    text-align: center;
  }
  
  .social-button-container ion-button {
    flex: 1;
  }

  button {
    --background: var(--ion-color-primary);
  }
  
  button.following {
    --background: var(--ion-color-medium);
  }

  .pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pie-chart {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(-90deg);
  }
  
  .slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 200px, 200px, 100px);
    border-radius: 50%;
    transform-origin: 50% 50%;
  }
  
  .slice-1 {
    background-color: #f44336;
    transform: rotate(0deg) rotate(0deg);
  }
  
  .slice-2 {
    background-color: #ff9800;
    transform: rotate(45deg) rotate(45deg);
  }
  
  .slice-3 {
    background-color: #ffeb3b;
    transform: rotate(90deg) rotate(45deg);
  }
  
  .slice-4 {
    background-color: #4caf50;
    transform: rotate(135deg) rotate(45deg);
  }
  
  .legend {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .color-1 {
    background-color: #f44336;
  }
  
  .color-2 {
    background-color: #ff9800;
  }
  
  .color-3 {
    background-color: #ffeb3b;
  }
  
  .color-4 {
    background-color: #4caf50;
  }
  