<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Northwestern University</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner-toolbar" style="max-height:100px!important;">
    <div class="profile-image-container">
      <img src="https://www.northwestern.edu/brand/images/wordmark/guideline-sm4.gif" class="profile-image" alt="Profile Image">
    </div>
    <h1 style="font-style: italic;"><strong>Northwestern University</strong></h1>
    <div class="center-content">
      <h4>Evanston, Illinois
      </h4>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6">4-Year Private University</ion-col>
        <ion-col style="text-align: right;" size="6">In state Tuition: $67,000</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Undergraduate Enrollment: 8,659</ion-col>
        <ion-col style="text-align: right;" size="6">Out of state Tuition: $102,000</ion-col>
      </ion-row>
    </ion-grid>

    <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor}" (click)="toggleFollow()">
      {{ buttonText }}
    </ion-button>

  </div>


  <div style="margin-top: 100px!important;">
    <ion-segment (ionChange)="segmentChanged($event)" value="tab1">
      <ion-segment-button value="tab1">
        <ion-label style="text-transform: none;" >Posts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab2">
        <ion-label style="text-transform: none;" >About</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab3">
        <ion-label style="text-transform: none;" >Affiliates</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab4">
        <ion-label style="text-transform: none;" >Groups</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab5">
        <ion-label style="text-transform: none;" >Events</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab6">
        <ion-label style="text-transform: none;" >Programs</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="tab-content">
    <div *ngIf="selectedSegment === 'tab1'">
      <!-- Content for Tab 1 -->
      <ion-card style="padding-bottom: 100px;">
        <ion-item button detail="true" [routerLink]="['/school-profile']">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://www.northwestern.edu/brand/images/wordmark/guideline-sm4.gif" />
          </ion-avatar>
          <ion-label class="school-name">
            <strong>Northwestern University</strong>
            <p>1 hour ago</p>
          </ion-label>
        </ion-item>
        
        <ion-card-content>
          <p *ngIf="!showFullContent">
            You did it, Northwestern University Pritzker School of Law Class of 2024! 🎉🎓...
          </p>
          <p *ngIf="showFullContent">
            You did it, Northwestern University Pritzker School of Law Class of 2024! 🎉🎓&nbsp;&nbsp;
    
            On Friday, Law School graduates celebrated their achievements during a convocation ceremony at the Chicago Theatre. Congrats, #NU2024!
          </p>
          <a (click)="toggleContent()" class="see-more-link">
            {{ showFullContent ? 'See Less' : 'See More' }}
          </a>
        </ion-card-content>
    
        <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/northwestern-post.png" />
    
        <div class="social-button-container">
          <ion-button size="small" fill="clear" color="secondary">
            <ion-icon slot="start" name="heart"></ion-icon>
            333k
          </ion-button>
          <ion-button size="small" fill="clear" color="secondary">
            <ion-icon slot="start" name="chatbubble-ellipses"></ion-icon>
            781
          </ion-button>
          <ion-button size="small" fill="clear" color="secondary">
            <ion-icon slot="icon-only" name="bookmark"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>

    <div *ngIf="selectedSegment === 'tab2'">
      <!-- Content for Tab 2 -->
      <ion-card>
        <ion-card-header>
          <ion-card-title style="font-style: italic;">
            <h3>SUMMARY</h3>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Northwestern University is a comprehensive research university that is deeply interdisciplinary across multiple schools and units. Our rigorous yet empathetic academic environment provides a robust mixture of theory and practice, with an emphasis on top-tier research, new knowledge, creative expression and practical application. northwestern provides both students and faculty exceptional opportunities for intellectual, personal, and professional growth in beautiful settings, With two campuses located on Lake Michigan: a 240-acre campus in Evanston, minutes North of Chicago, and a 25-acre campus in Downtown Chicago. If you are at Northwestern, you are part of an innovative, collaborative, and multidimensional community delivering an impact that is rare in higher education.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title style="font-style: italic;">
            <h3><strong>At A Glance</strong></h3>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">Undergraduate Acceptance Rate</ion-col>
                <ion-col size="6" style="text-align: right;">67%</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Undergraduate Enrollment</ion-col>
                <ion-col size="6" style="text-align: right;">8,659</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Graduate Enrollment</ion-col>
                <ion-col size="6" style="text-align: right;">46%</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">In state Tuition</ion-col>
                <ion-col size="6" style="text-align: right;">$67,000</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  Out of state Tuition</ion-col>
                <ion-col size="6" style="text-align: right;">$102,000</ion-col>
              </ion-row>
          </ion-grid>
          <ion-list lines="none" style="padding-left: 0%;" class="padding">
            <ion-item>
              <ion-icon aria-hidden="true" name="open-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a href="#" style="font-size: 14px;text-decoration: none;color: #7e4dff;">Visit School Admissions Page</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-icon aria-hidden="true" name="open-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a href="#" style="font-size: 14px;text-decoration: none;color: #7e4dff;">Visit School Financial Aid Page</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-icon aria-hidden="true" name="open-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a href="#" style="font-size: 14px;text-decoration: none;color: #7e4dff;">Visit School Athletics Page</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-icon aria-hidden="true" name="open-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a href="#" style="font-size: 14px;text-decoration: none;color: #7e4dff;">School Rankings/Facts 2</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-icon aria-hidden="true" name="location-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a href="#" style="font-size: 14px;text-decoration: none;color: #7e4dff;">633 Clark Ave, Evanston, IL, 60208</a></ion-label>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </ion-card>

      <ion-list>
        <ion-list-header style="font-style: italic;">
          <h3><strong>Rankings</strong></h3>
        </ion-list-header>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/school-rankings-img.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 12px;font-style: italic;">
            <strong>2024 Rankings</strong>
            <strong>
              <p>Schools are ranked according to their performance across a set of widely accepted indicators of excellence.</p>
            </strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/school-rank-imgs.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 12px;font-style: italic;">
            <strong>#9 in <a href="#" style="text-decoration: none;color: #7e4dff;">National Universities (tie)</a></strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/school-rank-imgs.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 12px;font-style: italic;">
            <strong>#15 in <a href="#" style="text-decoration: none;color: #7e4dff;">Best Value Schools</a></strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/school-rank-imgs.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 12px;font-style: italic;">
            <strong>#13 in <a href="#" style="text-decoration: none;color: #7e4dff;">Engineering Programs (doctorate) (tie)</a></strong></ion-label>
        </ion-item>
      </ion-list>

      <ion-card>
        <ion-card-header>
          <ion-card-title>University Demographics</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="pie-chart-container">
            <div class="pie-chart">
              <div class="slice slice-1"></div>
              <div class="slice slice-2"></div>
              <div class="slice slice-3"></div>
              <div class="slice slice-4"></div>
            </div>
            <div class="legend">
              <div class="legend-item">
                <span class="legend-color color-1"></span> 25% Asian
              </div>
              <div class="legend-item">
                <span class="legend-color color-2"></span> 14% Asian
              </div>
              <div class="legend-item">
                <span class="legend-color color-3"></span> 11% Hispanic
              </div>
              <div class="legend-item">
                <span class="legend-color color-4"></span> 50% White
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      

      <ion-card style="padding-bottom: 100px;">
        <ion-list>
          <ion-grid>
            <ion-row>
              <ion-col size="8">Graduation Rate</ion-col>
              <ion-col style="text-align: right;" size="4">87%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">Students Who Borrowed (any loan type)</ion-col>
              <ion-col style="text-align: right;" size="4">29%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">Average Debt At Graduation</ion-col>
              <ion-col style="text-align: right;" size="4">46%</ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-card>

    </div>

    <div *ngIf="selectedSegment === 'tab3'">
      <!-- Content for Tab 3 -->
      <ion-list style="padding-bottom: 100px;">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-affiliate-1.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern Alumni</strong></h2>
            <p>The Northwestern Alumni Association invites all members of the Northwestern family—alumni, current students, parents, and friends—to connect with the University’s alumni community. This powerful network of doers spans the globe and includes virtually every profession. Here, you’ll find the events, ideas, and resources that matter to you. So, take a look around and browse. We hope you’ll come back often. And, of course, Go ’Cats!</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Follow
          </ion-button>
        </ion-item>
      
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-affiliate-2.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern University - Bienen School of Music</strong></h2>
            <p>Northwestern is one of the nation's premier research universities, combining innovative teaching and pioneering research in a highly collaborative, multidisciplinary, and diverse environment.</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Follow
          </ion-button>
        </ion-item>
      
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-affiliate-3.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern in Qatar</strong></h2>
            <p>Founded in 1859, Northwestern Pritzker School of Law advances the understanding of law and produces graduates prepared to excel in a rapidly changing world. Northwestern Law uniquely blends a rigorous...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Follow
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="selectedSegment === 'tab4'">
      <!-- Content for Tab 4 -->
      <ion-list style="padding-bottom: 100px;">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-3.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Solar Car Team</strong></h2>
            <p>NUsolar is student-led organization designing, manufacturing and racing the next generation of solar powered electric vehicles. Founded in 1997...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Join
          </ion-button>
        </ion-item>
      
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-1.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern Community Ensemble</strong></h2>
            <p>Whilst established during a time of great racial distress on campus, NCE has become a haven and spiritual release for all NU students. Still rooted in the rich heritage found in gospel music and worship, NCE...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Join
          </ion-button>
        </ion-item>
      
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-2.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Lipstick Theatre</strong></h2>
            <p>Art in activism, activism in art. That’s Lipstick Theatre’s motto. Northwestern’s feminist student theatre board puts on three productions per year. Most recently, the group showcased “Sunrise Coven” in early February. All of its shows...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Join
          </ion-button>
        </ion-item>
      </ion-list>    </div>
    <div *ngIf="selectedSegment === 'tab5'">
      <!-- Content for Tab 5 -->
       <ion-list style="padding-bottom: 100px;">
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-events-1.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 8px;">Artificial Intelligence Innovation Summit</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-events-3.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 8px;">Women's Health Tech Wednesday</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-events-2.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 8px;">Best Practices for Networking on Zoom</ion-label>
        </ion-item>
       </ion-list>

    </div>
    <div *ngIf="selectedSegment === 'tab6'">
      <!-- Content for Tab 6 -->
       <ion-list style="padding-bottom: 100px;">
        <ion-item>AFRICAN STUDIES</ion-item>
        <ion-item>AMERICAN STUDIES</ion-item>
        <ion-item>ANTHROPOLOGY</ion-item>
        <ion-item>APPLIED MATHEMATICS</ion-item>
        <ion-item>ARABIC</ion-item>
        <ion-item>ARCHITECTURAL ENGINEERING AND DESIGN</ion-item>

       </ion-list>
    </div>
  </div>
  
  <div class="custom-tabs">
    <ion-button [routerLink]="['/tabs/tab1']">
      <div class="button-content">
        <ion-icon name="home"></ion-icon>
        <span>Home</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2']">
      <div class="button-content">
        <ion-icon name="school"></ion-icon>
        <span>Schools</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab3']">
      <div class="button-content">
        <ion-icon name="menu"></ion-icon>
        <span>Menu</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab4']">
      <div class="button-content">
        <ion-icon name="people"></ion-icon>
        <span>Groups</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab5']">
      <div class="button-content">
        <ion-icon name="notifications"></ion-icon>
        <span>Alerts</span>
      </div>
    </ion-button>
  </div>
</ion-content>
