<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Northwestern University</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner-toolbar" style="max-height:100px!important;">
    <div class="profile-image-container">
      <img src="https://www.northwestern.edu/brand/images/wordmark/guideline-sm4.gif" class="profile-image" alt="Profile Image">
    </div>
    <h1 style="font-style: italic;text-align: center;"><strong>Northwestern University</strong></h1>
    <div class="center-content">
      <h4 style="text-align: center;">Evanston, Illinois</h4>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6"><b>Four-Year University: </b>Private</ion-col>
        <ion-col size="6"><b>In state Tuition: </b>$67,000</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><b>Undergraduate Enrollment: </b>8,659</ion-col>
        <ion-col size="6"><b>Out of state Tuition: </b>$102,000</ion-col>
      </ion-row>
    </ion-grid>

    <div class="profile-follow-button">
      <ion-button shape="round" style="width: 65%;text-transform: none;" [ngStyle]="{'background-color': buttonColor}" (click)="toggleFollow()">
        {{ buttonText }}
      </ion-button>
    </div>


  </div>


  <div style="margin-top: 100px!important;">
    <ion-segment (ionChange)="segmentChanged($event)" value="tab1">
      <ion-segment-button value="tab1">
        <ion-label style="text-transform: none;" >Posts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab2">
        <ion-label style="text-transform: none;" >About</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab3">
        <ion-label style="text-transform: none;" >Affiliates</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab4">
        <ion-label style="text-transform: none;" >Groups</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab5">
        <ion-label style="text-transform: none;" >Events</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab6">
        <ion-label style="text-transform: none;" >Programs</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="tab-content">
    <div *ngIf="selectedSegment === 'tab1'">
      <!-- Content for Tab 1 -->
      <ion-card>
        <ion-item button detail="true" [routerLink]="['/school-profile']">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://www.northwestern.edu/brand/images/wordmark/guideline-sm4.gif" />
          </ion-avatar>
          <ion-label class="school-name">
            <strong>Northwestern University</strong>
            <p>1 hour ago</p>
          </ion-label>
        </ion-item>
        
        <ion-card-content>
          <p *ngIf="!showFullContent">
            You did it, Northwestern University Pritzker School of Law Class of 2024! 🎉🎓...
          </p>
          <p *ngIf="showFullContent">
            You did it, Northwestern University Pritzker School of Law Class of 2024! 🎉🎓&nbsp;&nbsp;
    
            On Friday, Law School graduates celebrated their achievements during a convocation ceremony at the Chicago Theatre. Congrats, #NU2024!
          </p>
          <a (click)="toggleContent()" class="see-more-link">
            {{ showFullContent ? 'See Less' : 'See More' }}
          </a>
        </ion-card-content>
    
        <div class="card-image-container">
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/northwestern-post.png" />
        </div>

        <div class="social-button-container">
          <ion-button  size="small" fill="clear" color="secondary" style="text-transform: none;" [ngStyle]="{'background-color': likeButtonColor}" (click)="toggleLike()">
            <ion-icon slot="start" name="heart"></ion-icon>
            {{ likeButtonText }}
          </ion-button>
          <ion-button size="small" fill="clear" color="secondary">
            <ion-icon slot="start" name="chatbubble-ellipses"></ion-icon>
            781
          </ion-button>
          <ion-button size="small" fill="clear" color="secondary">
            <ion-icon slot="icon-only" name="bookmark"></ion-icon>
          </ion-button>
        </div>
      </ion-card>

      <ion-card>
        <ion-item button detail="true" [routerLink]="['/school-profile']">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://www.northwestern.edu/brand/images/wordmark/guideline-sm4.gif" />
          </ion-avatar>
          <ion-label class="school-name">
            <strong>Northwestern University</strong>
            <p>3 hour ago</p>
          </ion-label>
        </ion-item>
        
        <ion-card-content>
          <p *ngIf="!showFullContent1">
            The United Center stage is set: It's Commencement day for the Northwestern Class of 2024! 🎓💜...
          </p>
          <p *ngIf="showFullContent1">
            The United Center stage is set: It's Commencement day for the Northwestern Class of 2024! 🎓💜 Tune in to the hashtag#NU2024 <a href="https://bit.ly/3RmvkcW" target="_blank">livestream at 10:30AM CT</a>
          </p>
          <a (click)="toggleContent1()" class="see-more-link">
            {{ showFullContent1 ? 'See Less' : 'See More' }}
          </a>
        </ion-card-content>
    
        <div class="card-image-container">
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/northwestern-post-1.png" />
        </div>

        <div class="social-button-container">
          <ion-button  size="small" fill="clear" color="secondary" style="text-transform: none;" [ngStyle]="{'background-color': likeButtonColor1}" (click)="toggleLike1()">
            <ion-icon slot="start" name="heart"></ion-icon>
            {{ likeButtonText1 }}
          </ion-button>
          <ion-button size="small" fill="clear" color="secondary">
            <ion-icon slot="start" name="chatbubble-ellipses"></ion-icon>
            781
          </ion-button>
          <ion-button size="small" fill="clear" color="secondary">
            <ion-icon slot="icon-only" name="bookmark"></ion-icon>
          </ion-button>
        </div>
      </ion-card>

      <ion-card style="padding-bottom: 100px!important;">
        <ion-item button detail="true" [routerLink]="['/school-profile']">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://www.northwestern.edu/brand/images/wordmark/guideline-sm4.gif" />
          </ion-avatar>
          <ion-label class="school-name">
            <strong>Northwestern University</strong>
            <p>6 hour ago</p>
          </ion-label>
        </ion-item>
        
        <ion-card-content>
          <p *ngIf="!showFullContent2">
            Northwestern graduate student—and amateur astrophotographer—Imran Sultan...
          </p>
          <p *ngIf="showFullContent2">
            Northwestern graduate student—and amateur astrophotographer—Imran Sultan watched last week's solar eclipse from Millinocket, Maine, and captured these stunning images 📸✨
          </p>
          <a (click)="toggleContent2()" class="see-more-link">
            {{ showFullContent2 ? 'See Less' : 'See More' }}
          </a>
        </ion-card-content>
    
        <div class="card-image-container">
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/northwestern-post-2.png" />
        </div>

        <div class="social-button-container">
          <ion-button  size="small" fill="clear" color="secondary" style="text-transform: none;" [ngStyle]="{'background-color': likeButtonColor2}" (click)="toggleLike2()">
            <ion-icon slot="start" name="heart"></ion-icon>
            {{ likeButtonText2 }}
          </ion-button>
          <ion-button size="small" fill="clear" color="secondary">
            <ion-icon slot="start" name="chatbubble-ellipses"></ion-icon>
            781
          </ion-button>
          <ion-button size="small" fill="clear" color="secondary">
            <ion-icon slot="icon-only" name="bookmark"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>

    <div *ngIf="selectedSegment === 'tab2'">
      <!-- Content for Tab 2 -->
      <ion-card>
        <ion-card-header>
          <ion-card-title style="font-style: italic;">
            <h3>SUMMARY</h3>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p *ngIf="!showFullContent">
            Northwestern University is a comprehensive research university that is deeply interdisciplinary across multiple schools and units. Our rigorous yet empathetic academic environment provides a robust mixture of theory and practice, with an emphasis on top-tier research, new knowledge,...          </p>
          <p *ngIf="showFullContent">    
            Northwestern University is a comprehensive research university that is deeply interdisciplinary across multiple schools and units. Our rigorous yet empathetic academic environment provides a robust mixture of theory and practice, with an emphasis on top-tier research, new knowledge, creative expression and practical application. northwestern provides both students and faculty exceptional opportunities for intellectual, personal, and professional growth in beautiful settings, With two campuses located on Lake Michigan: a 240-acre campus in Evanston, minutes North of Chicago, and a 25-acre campus in Downtown Chicago. If you are at Northwestern, you are part of an innovative, collaborative, and multidimensional community delivering an impact that is rare in higher education.
          </p>
          <a (click)="toggleContent()" class="see-more-link">
            {{ showFullContent ? 'See Less' : 'See More' }}
          </a>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title style="font-style: italic;">
            <h3><strong>At A Glance</strong></h3>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">Undergraduate Acceptance Rate</ion-col>
                <ion-col size="6" style="text-align: right;">67%</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Undergraduate Enrollment</ion-col>
                <ion-col size="6" style="text-align: right;">8,659</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Graduate Enrollment</ion-col>
                <ion-col size="6" style="text-align: right;">46%</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">In state Tuition</ion-col>
                <ion-col size="6" style="text-align: right;">$67,000</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  Out of state Tuition</ion-col>
                <ion-col size="6" style="text-align: right;">$102,000</ion-col>
              </ion-row>
          </ion-grid>
          <hr style="border: 1px;background-color: black;margin-left: 9px;margin-right: 9px;">
          <ion-list lines="none" style="margin-left: -7px;">
            <ion-item>
              <ion-icon aria-hidden="true" name="open-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a href="https://admissions.northwestern.edu/" target="_blank" style="font-size: 14px;text-decoration: none;color: #7e4dff;">Visit School Admissions Page</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-icon aria-hidden="true" name="open-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a href="https://admissions.northwestern.edu/tuition-aid/" target="_blank" style="font-size: 14px;text-decoration: none;color: #7e4dff;">Visit School Financial Aid Page</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-icon aria-hidden="true" name="open-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a href="https://nusports.com/" target="_blank" style="font-size: 14px;text-decoration: none;color: #7e4dff;">Visit School Athletics Page</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-icon aria-hidden="true" name="open-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a href="https://www.usnews.com/best-colleges/northwestern-university-1739" target="_blank" style="font-size: 14px;text-decoration: none;color: #7e4dff;">School Rankings/Facts 2</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-icon aria-hidden="true" name="location-outline" slot="end" color="secondary"></ion-icon>
              <ion-label><a style="font-size: 14px;text-decoration: none;color: #7e4dff;">633 Clark Ave, Evanston, IL, 60208</a></ion-label>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </ion-card>

      <ion-list>
        <ion-list-header style="font-style: italic;">
          <h3><strong>Rankings</strong></h3>
        </ion-list-header>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/school-rankings-img.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 12px;font-style: italic;">
            <strong>2024 Rankings</strong>
            <strong>
              <p>Schools are ranked according to their performance across a set of widely accepted indicators of excellence.</p>
            </strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/school-rank-imgs.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 12px;font-style: italic;">
            <strong>#9 in <a href="https://www.usnews.com/best-colleges/rankings/national-universities" target="_blank" style="text-decoration: none;color: #7e4dff;">National Universities (tie)</a></strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/school-rank-imgs.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 12px;font-style: italic;">
            <strong>#15 in <a href="https://www.usnews.com/best-colleges/rankings/national-universities/best-value" target="_blank" style="text-decoration: none;color: #7e4dff;">Best Value Schools</a></strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/school-rank-imgs.png" style="background-color: white;"/>
          </ion-thumbnail>
          <ion-label style="margin-left: 12px;font-style: italic;">
            <strong>#13 in <a href="https://www.usnews.com/best-colleges/rankings/engineering-doctorate" target="_blank" style="text-decoration: none;color: #7e4dff;">Engineering Programs (doctorate) (tie)</a></strong></ion-label>
        </ion-item>
      </ion-list>

      <ion-card>
        <ion-card-header>
          <ion-card-title>University Demographics</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!--<div class="pie-chart-container">
            <div class="pie-chart">
              <div class="slice slice-1"></div>
              <div class="slice slice-2"></div>
              <div class="slice slice-3"></div>
              <div class="slice slice-4"></div>
            </div>
            <div class="legend">
              <div class="legend-item">
                <span class="legend-color color-1"></span> 25% Asian
              </div>
              <div class="legend-item">
                <span class="legend-color color-2"></span> 14% Asian
              </div>
              <div class="legend-item">
                <span class="legend-color color-3"></span> 11% Hispanic
              </div>
              <div class="legend-item">
                <span class="legend-color color-4"></span> 50% White
              </div>
            </div>
          </div>-->
          <div
            id="demographicChart" style="width:100%; max-width:600px; height:500px;">
          </div>
        </ion-card-content>
      </ion-card>
      

      <ion-card style="padding-bottom: 100px;">
        <ion-list>
          <ion-grid>
            <ion-row>
              <ion-col size="8">Graduation Rate</ion-col>
              <ion-col style="text-align: right;" size="4">87%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">Students Who Borrowed (any loan type)</ion-col>
              <ion-col style="text-align: right;" size="4">29%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">Average Debt At Graduation</ion-col>
              <ion-col style="text-align: right;" size="4">46%</ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-card>

    </div>

    <div *ngIf="selectedSegment === 'tab3'">
      <!-- Content for Tab 3 -->
      <ion-list style="padding-bottom: 100px;">
        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-affiliate-1.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern Alumni</strong></h2>
            <p>The Northwestern Alumni Association invites all members of the Northwestern family—alumni, current students, parents, and friends—to connect with the University’s alumni community. This powerful network of doers spans the globe and includes virtually every profession. Here, you’ll find the events, ideas, and resources that matter to you. So, take a look around and browse. We hope you’ll come back often. And, of course, Go ’Cats!</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Follow
          </ion-button>
        </ion-item>
      
        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-affiliate-2.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern University - Bienen School of Music</strong></h2>
            <p>Northwestern is one of the nation's premier research universities, combining innovative teaching and pioneering research in a highly collaborative, multidisciplinary, and diverse environment.</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Follow
          </ion-button>
        </ion-item>
      
        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-affiliate-3.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern in Qatar</strong></h2>
            <p>Founded in 1859, Northwestern Pritzker School of Law advances the understanding of law and produces graduates prepared to excel in a rapidly changing world. Northwestern Law uniquely blends a rigorous...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Follow
          </ion-button>
        </ion-item>

        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-affiliate-2.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern University - McCormick School of Engineering</strong></h2>
            <p>The Kellogg School of Management at Northwestern University (branded as Northwestern Kellogg) is the business school of Northwestern University, a private research university in Evanston, Illinois. It was founded in 1908 as...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Follow
          </ion-button>
        </ion-item>

        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-affiliate-3.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern University - The Feinberg School of Medicine</strong></h2>
            <p>The defining mission of Northwestern University Feinberg School of Medicine, a $1.1 billion enterprise located in the heart of Chicago, is to educate the next...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Follow
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="selectedSegment === 'tab4'">
      <!-- Content for Tab 4 -->
      <ion-list style="padding-bottom: 100px;">
        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-3.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Solar Car Team</strong></h2>
            <p>NUsolar is student-led organization designing, manufacturing and racing the next generation of solar powered electric vehicles. Founded in 1997...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Join
          </ion-button>
        </ion-item>
      
        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-1.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Northwestern Community Ensemble</strong></h2>
            <p>Whilst established during a time of great racial distress on campus, NCE has become a haven and spiritual release for all NU students. Still rooted in the rich heritage found in gospel music and worship, NCE...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Join
          </ion-button>
        </ion-item>
      
        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-2.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Lipstick Theatre</strong></h2>
            <p>Art in activism, activism in art. That’s Lipstick Theatre’s motto. Northwestern’s feminist student theatre board puts on three productions per year. Most recently, the group showcased “Sunrise Coven” in early February. All of its shows...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Join
          </ion-button>
        </ion-item>

        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/biomedical-school-profile-group-img.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Biomedical Engineering Society</strong></h2>
            <p>The Biomedical Engineering Society at Northwestern University brings together biomedical engineering students and faculty members to promote academic,...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Join
          </ion-button>
        </ion-item>

        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/blockchain-school-profile-group-img.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>Blockchain Group</strong></h2>
            <p>Northwestern University's Blockchain Group focuses on fostering an active blockchain technology ecosystem at Northwestern and the Chicago area...</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Join
          </ion-button>
        </ion-item>

        <ion-item class="custom-item custom-item-border">
          <ion-thumbnail slot="start" class="top-aligned-thumbnail">
            <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/redgistry-consulting-school-profile-group-img.png" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>rED.gistry Consulting</strong></h2>
            <p>Providing students with the opportunity to work on professional consulting projects while providing services to nonprofit organizations across the world helping millions of people.</p>
          </ion-label>
          <ion-button slot="end" fill="outline">
            Join
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="selectedSegment === 'tab5'">
      <!-- Content for Tab 5 -->
      <ion-list style="padding-bottom: 100px;">
        <ion-item *ngFor="let event of events">
          <ion-thumbnail>
            <img [src]="event.image" [alt]="event.title" style="background-color: white;" />
          </ion-thumbnail>
          <ion-toggle [(ngModel)]="event.isAttending" (ionChange)="updateAttendance(event)">
            <ion-label style="margin-left: 8px;">{{ event.title }}</ion-label>
            <p style="margin-left: 8px;">{{ event.isAttending ? 'Attending' : 'Not Attending' }}</p>
          </ion-toggle>
        </ion-item>
      </ion-list>
      

    </div>
    <div *ngIf="selectedSegment === 'tab6'">
      <!-- Content for Tab 6 -->
       <ion-list style="padding-bottom: 100px;">
        <ion-item id="open-modal">AFRICAN STUDIES</ion-item>
        <ion-modal trigger="open-modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-title>AFRICAN STUDIES</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <div class="detail-image-container">
                <img src="https://images.unsplash.com/photo-1489493887464-892be6d1daae?q=80&w=2967&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="African Studies Program Image">
              </div>
              <div class="detail-content">
                <h1>About African Studies</h1>
                <p>African American Studies is an interdisciplinary academic field that explores the history, culture, politics, and experiences of African Americans and the African diaspora. It delves into the systemic structures of racism, the legacy of slavery, and the ongoing struggles for civil rights and social justice. Key topics include the transatlantic slave trade, Reconstruction, the Harlem Renaissance, the Civil Rights Movement, Black feminism, and contemporary issues like police brutality, mass incarceration, and the Black Lives Matter movement. The field highlights the contributions of African Americans to arts, literature, music, politics, and science, while also emphasizing the resilience and creativity of Black communities in shaping U.S. and global history.</p>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-item color="light">AMERICAN STUDIES</ion-item>
        <ion-item>ANTHROPOLOGY</ion-item>
        <ion-item color="light">APPLIED MATHEMATICS</ion-item>
        <ion-item>ARABIC</ion-item>
        <ion-item color="light">ARCHITECTURAL ENGINEERING AND DESIGN</ion-item>
        <ion-item>ART HISTORY</ion-item>
        <ion-item color="light">ARTS ADMINISTRATION</ion-item>
        <ion-item>ART THEORY AND PRACTICE</ion-item>
        <ion-item color="light">ASIAN AMERICAN STUDIES</ion-item>
        <ion-item>ASIAN HUMANITIES</ion-item>
        <ion-item color="light">ASIAN LANGUAGES AND CULTURES</ion-item>
        <ion-item>BIOLOGICAL SCIENCES</ion-item>
        <ion-item color="light">BIOMEDICAL ENGINEERING</ion-item>
        <ion-item>BIOTECHNOLOGY AND BIOCHEMICAL ENGINEERING</ion-item>
        <ion-item color="light">BLACK STUDIES</ion-item>
        <ion-item>BUSINESS ENTERPRISE</ion-item>
        <ion-item color="light">BUSINESS GERMAN</ion-item>
        <ion-item>BUSINESS INSTITUTIONS</ion-item>
        <ion-item color="light">CATHOLIC STUDIES</ion-item>
        <ion-item>CENTRAL SOUTHEASTERN EUROPEAN STUDIES</ion-item>
        <ion-item color="light">CHEMICAL ENGINEERING</ion-item>
        <ion-item>CHEMISTRY</ion-item>
        <ion-item color="light">CIVIC ENGAGEMENT</ion-item>
        <ion-item>CIVIL ENGINEERING</ion-item>
        <ion-item color="light">CLASSICS</ion-item>
        <ion-item>COGNITIVE SCIENCE</ion-item>
        <ion-item color="light">COMBINED ENGINEERING AND COMMUNICATION PROGRAM</ion-item>
        <ion-item>COMBINED MUSIC & ENGINEERING PROGRAM</ion-item>
        <ion-item color="light">COMBINED MUSIC AND COMMUNICATION PROGRAM</ion-item>
        <ion-item>COMMUNICATION STUDIES</ion-item>
        <ion-item color="light">COMPARATIVE LITERARY STUDIES</ion-item>
        <ion-item>COMPUTER ENGINEERING</ion-item>
        <ion-item color="light">COMPUTER SCIENCE (BS)</ion-item>
        <ion-item>COMPUTER SCIENCE BA-CS</ion-item>
        <ion-item color="light">COOPERATIVE ENGINEERING EDUCATION PROGRAM</ion-item>
        <ion-item>CRITICAL THEORY</ion-item>
        <ion-item color="light">DANCE</ion-item>
        <ion-item>DATA SCIENCE</ion-item>
        <ion-item color="light">EARTH AND PLANETARY SCIENCES</ion-item>
        <ion-item>ECONOMICS</ion-item>
        <ion-item color="light">ELECTRICAL ENGINEERING</ion-item>
        <ion-item>ENGLISH: CREATIVE WRITING</ion-item>
        <ion-item color="light">ENGLISH: CREATIVE WRITING (CROSS-GENRE)</ion-item>
        <ion-item>ENGLISH: CREATIVE WRITING (SEQUENCE-BASED)</ion-item>
        <ion-item color="light">ENGLISH: LITERATURE</ion-item>
        <ion-item>ENTREPRENEURSHIP</ion-item>
        <ion-item color="light">ENVIRONMENTAL ENGINEERING</ion-item>
        
       </ion-list>
    </div>
  </div>
  
  <div class="custom-tabs">
    <ion-button [routerLink]="['/tabs/tab1']">
      <div class="button-content">
        <ion-icon name="home"></ion-icon>
        <span>Home</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2']">
      <div class="button-content">
        <ion-icon name="school"></ion-icon>
        <span>Schools</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab3']">
      <div class="button-content">
        <ion-icon name="menu"></ion-icon>
        <span>Menu</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab4']">
      <div class="button-content">
        <ion-icon name="people"></ion-icon>
        <span>Groups</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab5']">
      <div class="button-content">
        <ion-icon name="notifications"></ion-icon>
        <span>Alerts</span>
      </div>
    </ion-button>
  </div>
</ion-content>
