<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">MY GROUPS</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="end" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-list-header>
      <ion-label><h1 style="font-weight: 900;">Currently Joined</h1></ion-label>
    </ion-list-header>

    <ion-item class="custom-item">
      <ion-thumbnail slot="start" class="top-aligned-thumbnail">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-3.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Solar Car Team</strong></h2>
        <p>NUsolar is student-led organization designing, manufacturing and racing the next generation of solar powered electric vehicles. Founded in 1997...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor}" (click)="toggleJoin()" slot="end">
        {{ buttonText }}
      </ion-button>
    </ion-item>
  
    <ion-item class="custom-item">
      <ion-thumbnail slot="start" class="top-aligned-thumbnail">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-1.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Northwestern Community Ensemble</strong></h2>
        <p>Whilst established during a time of great racial distress on campus, NCE has become a haven and spiritual release for all NU students. Still rooted in the rich heritage found in gospel music and worship, NCE...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor1}" (click)="toggleJoin1()" slot="end">
        {{ buttonText1 }}
      </ion-button>
    </ion-item>
  
    <ion-item class="no-item-bottom-border custom-item">
      <ion-thumbnail slot="start" class="top-aligned-thumbnail">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-2.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Lipstick Theatre</strong></h2>
        <p>Art in activism, activism in art. That’s Lipstick Theatre’s motto. Northwestern’s feminist student theatre board puts on three productions per year. Most recently, the group showcased “Sunrise Coven” in early February. All of its shows...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor2}" (click)="toggleJoin2()" slot="end">
        {{ buttonText2 }}
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list>

    <ion-list-header>
      <ion-label><h1 style="font-weight: 900;">AI Recommended</h1></ion-label>
    </ion-list-header>

    <ion-item detail="true" class="custom-item">
      <ion-thumbnail slot="start" class="top-aligned-thumbnail">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-3.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Solar Car Team</strong></h2>
        <p>NUsolar is student-led organization designing, manufacturing and racing the next generation of solar powered electric vehicles. Founded in 1997...</p>
      </ion-label>
    </ion-item>
  
    <ion-item detail="true" class="custom-item">
      <ion-thumbnail slot="start" class="top-aligned-thumbnail">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-1.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Northwestern Community Ensemble</strong></h2>
        <p>Whilst established during a time of great racial distress on campus, NCE has become a haven and spiritual release for all NU students. Still rooted in the rich heritage found in gospel music and worship, NCE...</p>
      </ion-label>
    </ion-item>
  
    <ion-item detail="true" class="custom-item">
      <ion-thumbnail slot="start" class="top-aligned-thumbnail">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-2.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Lipstick Theatre</strong></h2>
        <p>Art in activism, activism in art. That’s Lipstick Theatre’s motto. Northwestern’s feminist student theatre board puts on three productions per year. Most recently, the group showcased “Sunrise Coven” in early February. All of its shows...</p>
      </ion-label>
    </ion-item>

    <ion-item detail="true" class="custom-item">
      <ion-thumbnail slot="start" class="top-aligned-thumbnail">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-3.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Solar Car Team</strong></h2>
        <p>NUsolar is student-led organization designing, manufacturing and racing the next generation of solar powered electric vehicles. Founded in 1997...</p>
      </ion-label>
    </ion-item>

    <ion-item detail="true" class="custom-item">
      <ion-thumbnail slot="start" class="top-aligned-thumbnail">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-1.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Northwestern Community Ensemble</strong></h2>
        <p>Whilst established during a time of great racial distress on campus, NCE has become a haven and spiritual release for all NU students. Still rooted in the rich heritage found in gospel music and worship, NCE...</p>
      </ion-label>
    </ion-item>
  
    <ion-item detail="true" class="no-item-bottom-border custom-item">
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-2.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Lipstick Theatre</strong></h2>
        <p>Art in activism, activism in art. That’s Lipstick Theatre’s motto. Northwestern’s feminist student theatre board puts on three productions per year. Most recently, the group showcased “Sunrise Coven” in early February. All of its shows...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
