<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GROUPS</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="end" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list style="padding-bottom: 100px;">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-3.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Solar Car Team</strong></h2>
        <p>NUsolar is student-led organization designing, manufacturing and racing the next generation of solar powered electric vehicles. Founded in 1997...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor}" (click)="toggleJoin()" slot="end">
        {{ buttonText }}
      </ion-button>
    </ion-item>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-1.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Northwestern Community Ensemble</strong></h2>
        <p>Whilst established during a time of great racial distress on campus, NCE has become a haven and spiritual release for all NU students. Still rooted in the rich heritage found in gospel music and worship, NCE...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor1}" (click)="toggleJoin1()" slot="end">
        {{ buttonText1 }}
      </ion-button>
    </ion-item>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-2.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Lipstick Theatre</strong></h2>
        <p>Art in activism, activism in art. That’s Lipstick Theatre’s motto. Northwestern’s feminist student theatre board puts on three productions per year. Most recently, the group showcased “Sunrise Coven” in early February. All of its shows...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor2}" (click)="toggleJoin2()" slot="end">
        {{ buttonText2 }}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-3.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Solar Car Team</strong></h2>
        <p>NUsolar is student-led organization designing, manufacturing and racing the next generation of solar powered electric vehicles. Founded in 1997...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor3}" (click)="toggleJoin3()" slot="end">
        {{ buttonText3 }}
      </ion-button>
    </ion-item>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-1.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Northwestern Community Ensemble</strong></h2>
        <p>Whilst established during a time of great racial distress on campus, NCE has become a haven and spiritual release for all NU students. Still rooted in the rich heritage found in gospel music and worship, NCE...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor4}" (click)="toggleJoin4()" slot="end">
        {{ buttonText4 }}
      </ion-button>
    </ion-item>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-2.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Lipstick Theatre</strong></h2>
        <p>Art in activism, activism in art. That’s Lipstick Theatre’s motto. Northwestern’s feminist student theatre board puts on three productions per year. Most recently, the group showcased “Sunrise Coven” in early February. All of its shows...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor5}" (click)="toggleJoin5()" slot="end">
        {{ buttonText5 }}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-3.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Solar Car Team</strong></h2>
        <p>NUsolar is student-led organization designing, manufacturing and racing the next generation of solar powered electric vehicles. Founded in 1997...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor6}" (click)="toggleJoin6()" slot="end">
        {{ buttonText6 }}
      </ion-button>
    </ion-item>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-1.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Northwestern Community Ensemble</strong></h2>
        <p>Whilst established during a time of great racial distress on campus, NCE has become a haven and spiritual release for all NU students. Still rooted in the rich heritage found in gospel music and worship, NCE...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor7}" (click)="toggleJoin7()" slot="end">
        {{ buttonText7 }}
      </ion-button>
    </ion-item>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nw-school-group-2.png" alt="Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2><strong>Lipstick Theatre</strong></h2>
        <p>Art in activism, activism in art. That’s Lipstick Theatre’s motto. Northwestern’s feminist student theatre board puts on three productions per year. Most recently, the group showcased “Sunrise Coven” in early February. All of its shows...</p>
      </ion-label>
      <ion-button style="text-transform: none;" [ngStyle]="{'background-color': buttonColor8}" (click)="toggleJoin8()" slot="end">
        {{ buttonText8 }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
