

ion-content {
    background: white !important;
}

ion-button {
    text-transform: none;
}

.center-content {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
}

.login-text-link {
    text-decoration: none;
    color: #4600ff;
    font-weight: 500;
}

ion-grid {
    --ion-grid-width: 100%;
}

.social-icon {
    width: 20px; /* Set to the size of your icons */
    height: 20px; /* Set to the size of your icons */
    margin-right: 8px; /* Space between the icon and text */
    vertical-align: middle; /* Align the image vertically with the text */
  }
  