<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <!-- Left side (person 1) -->
    <div class="chat-bubble left">
      <img src="https://www.northwestern.edu/brand/images/wordmark/guideline-sm4.gif" alt="Person 1" class="avatar">
      <div class="bubble-content">
        <p class="chat-formatting"><strong>Northwestern University</strong></p>
        <p><strong>A respected healthcare degree without the debt? Absolutely!</strong></p>
        <p>
          Dear Jessica,<br>
          Did you know that you can earn a respected degree in healthcare for little or no new debt?<br>
          It's possible at Northwestern Univeristy!<br><br>
          Northwestern Univeristy's flat-rate tuition is low enough that nearly half of our undergrads pay for their programs out-of-pocket-no new student debt required.<br><br>
          Quality education shouldn't come with a lot of debt. At Northwestern Univeristy, we're committed to helping students earn a respected degree for less.<br>
          Apply today!
        </p>
      </div>
    </div>
    
    <!-- Right side (person 2) -->
    <div class="chat-bubble right">
      <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/jessica-pope.png" alt="Person 2" class="avatar">
      <div class="bubble-content">
        <p>I’m good, thanks! And you?</p>
      </div>
    </div>

    <!-- More chat bubbles here -->
  </div>
</ion-content>

<ion-footer>
  <div class="search-container">
    <div class="search-row">
      <ion-input fill="solid" placeholder="Type a message..."></ion-input>

      <ion-button fill="clear" class="send-button">
        <ion-icon name="arrow-up-circle" size="large"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-footer>
