<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-thumbnail style="margin-left: auto;margin-right: auto;margin-top: 33px;margin-bottom: 33px;width: 125px;height: 125px;">
    <img class="my-profile-settings-image" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/jessica-pope.png" alt="Profile Image">
  </ion-thumbnail>
  <div class="center-content">
    <a color="tertiary" class="text-link">Edit or change profile image</a>
  </div>
  <ion-list>
    <ion-item>
      <ion-input label="Name" placeholder="Full name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="School" placeholder="Current school"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Grade level" placeholder="Freshman/Sophomore etc."></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Location" placeholder="City, State"></ion-input>
    </ion-item>

    <ion-textarea style="padding-left: 15px;padding-right: 15px;" label="Biography" placeholder="Type something here" [counter]="true" maxlength="120"></ion-textarea>

  </ion-list>
</ion-content>
