ion-toolbar {
  --background: url(https://i.ibb.co/qsknn8k/profile-heading.jpg) no-repeat fixed center / cover; 
  --min-height:100px!important;
 }

ion-content {
  --padding-top: 35px;
  --padding-left: 0; /* Remove padding from ion-content if needed */
  --padding-right: 0; /* Remove padding from ion-content if needed */
  --padding-bottom: 35px; /* Remove padding from ion-content if needed */

}

ion-card {
  width: 100%; /* Ensure the card spans full width */
  margin-left: 0;
  margin-right: 0;
}

.school-name {
  font-weight: 500!important;
}

.profile-image-container {
    top: 70px; /* Adjust based on your toolbar height */
    left: 16px;
  }
  
  .profile-image {
    width: 80px; /* Adjust size as needed */
    height: 80px;
    border-radius: 10px 40px;
    border: 3px solid white; /* Optional: border to highlight the profile image */
  }

  .social-button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adjust the gap as needed */
    text-align: center;
  }
  
  .social-button-container ion-button {
    flex: 1;
  }

  .see-more-link {
    color: var(--ion-color-secondary); /* Matches ion-button color */
    font-size: 14px; /* Adjust size as needed */
    text-decoration: none; /* Remove underline */
    text-transform: none;
    cursor: pointer; /* Show a pointer cursor on hover */
    background-color: transparent; /* Transparent background */
  }