
ion-content {
  --padding-top: 35px;
  --padding-left: 0; /* Remove padding from ion-content if needed */
  --padding-right: 0; /* Remove padding from ion-content if needed */
  --padding-bottom: 35px; /* Remove padding from ion-content if needed */

}

ion-card {
  width: 100%; /* Ensure the card spans full width */
  margin-left: 0;
  margin-right: 0;
}

.school-name {
  font-weight: 500!important;
}

/* Container with white background above the toolbar */
.search-container {
  background-color: white;
  padding: 10px; /* Adjust padding as needed */
}

/* Row containing the search box and message button */
.search-row {
  display: flex;
  align-items: center;
}

/* Search box styles */
.search-box {
  flex: 0 1 90%; /* Takes up 90% of the width */
  position: relative;
}

/* Icon inside the search box */
.search-box ion-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Message button styles */
.message-button {
  flex: 0 1 10%; /* Takes up 10% of the width */
  margin-left: 10px; /* Padding between the search box and the button */
}

/* Toolbar styles */
ion-toolbar {
  --background: url(https://i.ibb.co/qsknn8k/profile-heading.jpg) no-repeat fixed center / cover;
  --min-height: 100px !important;
  position: relative; /* Ensure positioning context */
  display: flex;
  align-items: flex-end; /* Align children to the bottom */}

/* Toolbar specific class */
.banner-toolbar {
  position: relative; /* Ensure the toolbar is positioned relative */
}

/* Container for the profile image */
.profile-image-container {
  position: absolute;
  bottom: 0; /* Align directly to the bottom of the toolbar */
  left: 10px; /* Distance from the left edge of the toolbar */
  margin: 0; /* Ensure no margin is added */
  padding: 0; /* Ensure no padding is added */
  top: 8px;
}

/* Profile image styles */
.profile-image {
  width: 80px; /* Adjust size as needed */
  height: 80px;
  border-radius: 0px 20px;
  border: 3px solid white; /* Optional: border to highlight the profile image */
}


  .social-button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adjust the gap as needed */
    text-align: center;
  }
  
  .social-button-container ion-button {
    flex: 1;
  }

  .see-more-link {
    color: var(--ion-color-secondary); /* Matches ion-button color */
    font-size: 14px; /* Adjust size as needed */
    text-decoration: none; /* Remove underline */
    text-transform: none;
    cursor: pointer; /* Show a pointer cursor on hover */
    background-color: transparent; /* Transparent background */
  }