// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-background-color: #ffffff;
	--ion-background-color-rgb: 255,255,255;

    --ion-color-primary: #4600ff;
    --ion-color-primary-rgb: 126,77,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3100b3;
    --ion-color-primary-tint: #7e4dff;

    --ion-color-secondary: #7e4dff;
    --ion-color-secondary-rgb: 126,77,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #7e4dff;
    --ion-color-secondary-tint: #7e4dff;

    --ion-background-color: white;
    --ion-background-color-rgb: 255, 255, 255;
    --ion-text-color: black;
    --ion-text-color-rgb: 0, 0, 0;
}

body {
    font-family: 'Poppins', sans-serif;
  }
  