
ion-grid {
    --ion-grid-width: 100%;
}

ion-button {
    text-transform: none;
}

.center-content {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
}

.center-content-footer {
    text-align: center;
    width: 100%;
}

.sign-up-text-link {
    text-decoration: none;
    color: #7e4dff;
    font-weight: 500;
}

.footer-text-link {
    text-decoration: none;
    color: #7e4dff;
    font-weight: 500;
}
