

ion-content {
  --background: url(https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/welcome-bkgimg-darker-btmgrd.png) no-repeat center / cover;
}

  /* Media query for larger screens */
  @media (min-width: 768px) {
    .bkgimg {
      background-position: center center;
    }
  }
  
  /* Media query for mobile devices */
  @media (max-width: 767px) {
    .bkgimg {
      background-position: center center; /* Keeps the woman in the center */
    }
  }
  

.welcome-footer {
    padding-bottom: 78px;
    padding-left: 33px;
    padding-right: 33px;
    background-color: transparent;
    text-align: center;
    color: white!important;
}

h1.welcome-heading {
    font-size: 33px;
    font-weight: 900;
}

h3.welcome-subheading {
  font-size: 18px;
  font-weight: 900;
}

h3.welcome-subheading2 {
  font-size: 15px;
  padding-bottom: 22px;
  font-weight: 600;
}