

<ion-content [fullscreen]="true" class="bkgimg">
</ion-content>
<ion-footer class="ion-no-border welcome-footer">
  <h1 class="welcome-heading">rEDgistry</h1>
  <h3 class="welcome-subheading">College-readiness made easy.</h3>
  <h3 class="welcome-subheading2">rEDgistry simplifies the college application process.</h3>
  <ion-button [routerLink]="['/login']" color="secondary" shape="round" style="width: 100%;text-transform: none!important;font-weight: 900!important;">Let's get started</ion-button>
</ion-footer>