<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner-toolbar" style="max-height:100px!important;">
    <div class="profile-image-container">
      <img src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/jessica-pope.png" class="profile-image" alt="Profile Image">
    </div>
    <h1 style="font-style: italic;"><strong>Jessica Pope</strong></h1>
    <h4 style="font-style: italic;"><strong>Walter Payton College Preparatory</strong>
      <!--<ion-button class="profile-button" fill="clear" size="large" [routerLink]="['/school-profile']" routerDirection="forward">Northwestern University</ion-button>--> 
    </h4>
    <p>Sophomore</p>
    <p>Chicago, IL</p>
  </div>

  <div class="nav-menu">
    <a href="#" data-target="biography" (click)="scrollToSection($event)">Biography</a>
    <a href="#" data-target="achievements" (click)="scrollToSection($event)">Achievements</a>
    <a href="#" data-target="activities" (click)="scrollToSection($event)">Activities</a>
    <a href="#" data-target="experience" (click)="scrollToSection($event)">Experience</a>
    <a href="#" data-target="skills" (click)="scrollToSection($event)">Skills</a>
  </div>

  <ion-card id="biography">
    <ion-card-header>
      <ion-card-title style="font-style: italic;">
        <h3><strong>BIOGRAPHY</strong></h3>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      I am a high school sophomore who loves math, science, basketball and helping people. I hope to attend a university and major in finance and become a banker so l can give back to my community through successful business. I am a hard worker with a lot of interests and experiences and I believe I can be a great addition to the right campus environment for me.
    </ion-card-content>
  </ion-card>

  <ion-card id="achievements">
    <ion-list class="school-affiliation" lines="full">
      <ion-list-header>
        <h3 style="font-style: italic;text-transform: uppercase;"><strong>Academic Achievements & Awards</strong></h3>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <strong><em style="font-size: 18px;">Scores</em></strong>
              </ion-col>
              <ion-col size="6">
                <strong><em style="font-size: 18px;">Interests/Hobbies</em></strong>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid style="font-size: 15px!important;">
            <ion-row>
              <ion-col size="6">GPA: 3.97</ion-col>
              <ion-col size="6">Architecture</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Class Rank: 9 of 571</ion-col>
              <ion-col size="6">Stock Trading</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">SAT Score: N/A</ion-col>
              <ion-col size="6">Cryptocurrency</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">ACT Score: 32</ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-list-header style="font-style: italic;font-size: 18px;">
        <strong>Award/Certification/Publication/Honor/Achievement</strong>
      </ion-list-header>
      <ion-item style="align-items: flex-start;">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/nha-logo.png" style="background-color: white;"/>
        </ion-thumbnail>
        <ion-label style="margin-left: 12px;">
          <em>National Honor Society</em>
          <p>Member, 2023</p>
        </ion-label>
      </ion-item>
      <ion-item style="align-items: flex-start;">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/il-math-science-logo.png" style="background-color: white;"/>
        </ion-thumbnail>
        <ion-label style="margin-left: 12px;">
          <em>Illinois Math and Science Competition</em>
          <p>Runner Up, 2022</p>
        </ion-label>
      </ion-item>
      <ion-list-header style="font-style: italic;font-size: 18px;">
        <strong>Additional Coursework</strong>
      </ion-list-header>
      <ion-item class="school-item no-item-bottom-border" style="align-items: flex-start;">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/chi-state-uni-logo.png" style="background-color: white;"/>
        </ion-thumbnail>
        <ion-label style="margin-left: 12px;">
          <em>Future Banking Professionals Program</em>
          <p>Lake Forest College, Summer 2022</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card id="activities">
    <ion-list>
      <ion-list-header>
          <h3 style="font-style: italic;text-transform: uppercase;"><strong>Co-Curricular and Extracurricular Activities</strong></h3>
      </ion-list-header>
      <ion-item class="school-item" style="align-items: flex-start;">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/alvin-logo.png" style="background-color: white;"/>
        </ion-thumbnail>
        <ion-label style="margin-left: 12px;">
          <em>Alvin Ailey Dance Troupe, Chicago, Illinois</em>
          <p>Member 2022-2023</p>
        </ion-label>
      </ion-item>
      <ion-item class="school-item" style="align-items: flex-start;">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/wp-logo.png" style="background-color: white;"/>
        </ion-thumbnail>
        <ion-label style="margin-left: 12px;">
          <em>Walter Payton High School Cheerleading, Chicago, Illinois</em>
          <p>Captain, 2022-2023; Member, 2021</p>
        </ion-label>
      </ion-item>
      <ion-item class="school-item no-item-bottom-border" style="align-items: flex-start;">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/wp-logo.png" style="background-color: white;"/>
        </ion-thumbnail>
        <ion-label style="margin-left: 12px;">
          <em>Walter Payton High School Cheerleading, Chicago, Illinois</em>
          <p>Member 2021</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card id="experience">
    <ion-list>
      <ion-list-header>
          <h3 style="font-style: italic;text-transform: uppercase;"><strong>Work Experience/Community Service</strong></h3>
      </ion-list-header>
      <ion-item class="school-item" style="align-items: flex-start;">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/n-anchor-logo.png" style="background-color: white;"/>
        </ion-thumbnail>
        <ion-label style="margin-left: 12px;">
          <em>Northern Trust Bank and Trust Company</em>
          <p>Junior Teller, 2022-2023</p><br>
          <p>Make deposits, handle withdrawals and issue money orders or cashier's checks to bank customers</p>&nbsp;
          <p>Assist customers with other routine financial transactions</p>&nbsp;
          <p>Perform other relevant banking responsibilities as needed</p>
        </ion-label>
      </ion-item>
      <ion-item class="school-item no-item-bottom-border" style="align-items: flex-start;">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://raw.githubusercontent.com/premium-mobile-apps/redgistry/master/src/assets/images/chicago-pub-library-logo.png" style="background-color: white;"/>
        </ion-thumbnail>
        <ion-label style="margin-left: 12px;">
          <em>Chicago Public Library</em>
          <p>Volunteer, 2022-2023</p><br>
          <p>Assist patrons with locate books and information, provide computer and printing support</p>&nbsp;
          <p>Assist with children's story times, art activities, and tutoring</p>&nbsp;
          <p>Assist with programs and events such as book clubs and home bound deliveries</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card id="skills" style="padding-bottom:100px;">
    <ion-list>
      <ion-list-header>
          <h2 style="font-style: italic;text-transform: uppercase;"><strong>Skills</strong></h2>
      </ion-list-header>
      <ion-item>
       <ion-label>
          Quantum Mathematics<br>
          Computer Programming<br>
          Critical Thinking<br>
          Intellectual Curiosity<br>
          Spanish (Fluent)<br>
          Italian (Conversational)
       </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <div class="custom-tabs">
    <ion-button [routerLink]="['/tabs/tab1']">
      <div class="button-content">
        <ion-icon name="home"></ion-icon>
        <span>Home</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2']">
      <div class="button-content">
        <ion-icon name="school"></ion-icon>
        <span>Schools</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab3']">
      <div class="button-content">
        <ion-icon name="menu"></ion-icon>
        <span>Menu</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab4']">
      <div class="button-content">
        <ion-icon name="people"></ion-icon>
        <span>Groups</span>
      </div>
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab5']">
      <div class="button-content">
        <ion-icon name="notifications"></ion-icon>
        <span>Alerts</span>
      </div>
    </ion-button>
  </div>
</ion-content>