<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner-toolbar" style="max-height:200px!important;">
    <div class="profile-image-container">
      <img src="https://i.ibb.co/M61YYyy/jessica-pope.png" class="profile-image" alt="Profile Image">
    </div>
    <h2>Jessica Pope</h2>
    <div class="center-content">
      <h4>Walter Payton College Preparatory
       <!--<ion-button class="profile-button" fill="clear" size="large" [routerLink]="['/school-profile']" routerDirection="forward">Northwestern University</ion-button>--> 
      </h4>
    </div>
    <p>Sophomore</p>
    <p>Chicago, IL</p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h3>Summary</h3>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam risus dolor, aliquet et facilisis sed, imperdiet vel quam. Vestibulum sed lacus id nibh tincidunt rutrum. Quisque eget justo placerat, malesuada ligula a, tincidunt ante. Aenean ut accumsan elit, eget aliquet ligula. Donec id nulla magna.
    </ion-card-content>
  </ion-card>

<ion-list class="school-affiliation" lines="full">
  <ion-list-header>
    <h3>Academic Achievements & Rewards</h3>
  </ion-list-header>
  <ion-item>
    <ion-label>
      <strong>Scores</strong>
      <ion-grid>
        <ion-row>
          <ion-col size="6">GPA:</ion-col>
          <ion-col size="6">3.97</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Class Rank:</ion-col>
          <ion-col size="6">9 of 571</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">SAT Score:</ion-col>
          <ion-col size="6">N/A</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">ACT Score:</ion-col>
          <ion-col size="6">32</ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
  <ion-label style="margin-left: 15px;">
    <strong>Award/Certification/Publication, Honor/Achievement</strong>
  </ion-label>
  <ion-item class="school-item">
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" style="background-color: white;"/>
    </ion-thumbnail>
    <ion-label style="margin-left: 8px;">
      National Honor Society
      <p>Member, 2023</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" style="background-color: white;"/>
    </ion-thumbnail>
    <ion-label style="margin-left: 8px;">
      Illinois Math and Science Competition
      <p>Runner Up, 2022</p>
    </ion-label>
  </ion-item>
  <ion-label style="margin-left: 15px; margin-top: 10px;">
    <strong>Additional Coursework</strong>
  </ion-label>
  <ion-item class="school-item">
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" style="background-color: white;"/>
    </ion-thumbnail>
    <ion-label style="margin-left: 8px;">
      Future Astronauts Program
      <p>Chicago State University, Summer 2022</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>
      <h3>Co-Curricular and Extracurricular Activities</h3>
  </ion-list-header>
  <ion-item class="school-item">
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" style="background-color: white;"/>
    </ion-thumbnail>
    <ion-label style="margin-left: 8px;">
      Alvin Ailey Dance Troupe, Chicago, Illinois
      <p>Member 2022-2023</p>
    </ion-label>
  </ion-item>
  <ion-item class="school-item">
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" style="background-color: white;"/>
    </ion-thumbnail>
    <ion-label style="margin-left: 8px;">
      Morgan Park High School Cheerleading, Chicago, Illinois
      <p>Captain, 2022-2023; Member, 2021</p>
    </ion-label>
  </ion-item>
  <ion-item class="school-item">
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" style="background-color: white;"/>
    </ion-thumbnail>
    <ion-label style="margin-left: 8px;">
      Morgan Park High School Cheerleading, Chicago, Illinois
      <p>Member 2021</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>
      <h3>Work Experience/Community Service</h3>
  </ion-list-header>
  <ion-item class="school-item">
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" style="background-color: white;"/>
    </ion-thumbnail>
    <ion-label style="margin-left: 8px;">
      Northern Trust Bank and Trust Company
      <p>Junior Teller, 2022-2023</p><br>
      <p>- Make deposits, handle withdrawals and issue money orders or cashier's checks to bank customers</p>
      <p>- Assist customers with other routine financial transactions</p>
      <p>- Perform other relevant banking responsibilities as needed</p>
    </ion-label>
  </ion-item>
  <ion-item class="school-item">
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" style="background-color: white;"/>
    </ion-thumbnail>
    <ion-label style="margin-left: 8px;">
      Chicago Public Library
      <p>Volunteer, 2022-2023</p><br>
      <p>- Assist patrons with locate books and information, provide computer and printing support</p>
      <p>- Assist with children's story times, art activities, and tutoring</p>
      <p>- Assist with programs and events such as book clubs and home bound deliveries</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>
      <h2>Skills/Interests and Hobbies</h2>
  </ion-list-header>
  <ion-item>
   <ion-label>
    <strong>Skills</strong>
    <ul>
      <li>Quantum Mathematics</li>
      <li>Computer Programming</li>
      <li>Critical Thinking</li>
      <li>Intellectual Curiosity</li>
      <li>Spanish (Fluent)</li>
      <li>Italian (Conversational)</li>
    </ul>
   </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>Interests/Hobbies</strong>
      <ul>
        <li>Architecture</li>
        <li>Stock Trading</li>
        <li>Cryptocurrency</li>
      </ul>
    </ion-label>
  </ion-item>
</ion-list>